@import "./../../../colorSheets.scss";
#mainPageStandingContainer {
  width: 96%;
  display: flex;
  flex-direction: row;
  direction: ltr;
  margin-right: 2%;
  margin-bottom: 23px;
  margin-left: 2%;
  border: 1px solid;
  border-radius: 5px;
  background-color: #ffffff;
  .conferences {
    width: 50%;
    .title {
      text-align: center;
    }
    .title.west {
      background-color: $mainRed;
    }
    .title.east {
      background-color: $mainBlue;
      color: #ffffff;
    }
    .rankingTitle {
      width: 100%;
      display: flex;
      text-align: center;
      border-top: 1px solid;
      .rankingTitleRank {
        width: 10%;
        div {
          height: 40px;
          position: relative;
          span {
            position: absolute;
            top: 6.5px;
          }
        }
        :first-child {
          height: auto;
          :first-child {
            height: auto;
            position: relative;
          }
        }
      }
      .rankingTitleTeam {
        width: 40%;
      }
      .rankingTitleStats {
        display: flex;
        width: 50%;
        justify-content: space-evenly;
        div.rankingTitleWin {
          div {
            height: 40px;
            position: relative;
            span {
              position: absolute;
              top: 6.5px;
              left: 0;
            }
          }
          :first-child {
            height: auto;
            :first-child {
              height: auto;
              position: relative;
            }
          }
        }
      }
      .rankingTitleLoos {
        div {
          height: 40px;
          position: relative;
          span {
            position: absolute;
            top: 6.5px;
            left: 30%;
          }
        }
        :first-child {
          height: auto;
          :first-child {
            height: auto;
            position: relative;
          }
        }
      }
      .rankingTitleGb {
        div {
          height: 40px;
          position: relative;
          span {
            position: absolute;
            top: 6.5px;
            left: 0;
          }
        }
        :first-child {
          height: auto;
          :first-child {
            height: auto;
            position: relative;
          }
        }
      }
    }
  }
  .conferences.west {
    border-right: 1px solid;
  }
  .conferences.east {
    border-left: 1px solid;
  }
}
.mainStandingSingleContainer {
  display: flex;
  flex-direction: row;
  :first-child {
    width: 60%;
    height: 40px;
    img {
      width: 60%;
    }
  }
  :nth-child(2) {
    width: 40%;
    height: 40px;
    p {
      margin-bottom: 0;
      margin-top: 11px;
      height: auto;
    }
  }
}
