#mainLatestNews{
    border:1px solid;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    #title{
        div:first-child{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-left: 2%;
            border-bottom: 1px solid;
            padding-top: 1%;
            h4{
                cursor: pointer;
            }
        }
        h3,h4{
            display: inline;
            margin: 0;
        }
        div{
            padding: 2% 2% 0 0;
            p{
                cursor: pointer;
                display: inline;
            }
        }
    }
}