@import '../../colorSheets.scss';
#canvasMenu{
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 25vw;
    right: -25vw;
    top: 0;
    background-color: darkblue;
    transition: right 0.8s;
    overflow-y: auto;
}
#menuCross{
    color: #ffffff;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.menuCrossContainer{
    height: 42px;
}