@import "../../../colorSheets.scss";
#BoxscoreCarouselContainer {
  text-align: center;
  background-color: #ffffff;
  padding: 1% 5% 27px 5%;

 
  .slick-arrow::before {
    color: $mainBlue;
  }
  .BoxscoreItemContainer {
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid $darkBlue;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
}
#boxscoreNbaLogo{
  position: absolute;
  opacity: 0.5;
}
.BoxscoreItem {
  display: flex;
  flex-direction: row;
  .BoxscoreItemPic {
    img {
      max-width: 50px;
      max-height: 50px;
    }
    width: 25%;
  }
  .BoxscoreItemName {
    width: 50%;
    h4 {
      margin-top: 14.5px;
      margin-bottom: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .BoxscoreItemScore {
    width: 25%;
    h4 {
      margin-top: 14.5px;
      margin-bottom: 0px;
    }
  }
}
.Away {
  .BoxscoreItemName {
    h4 {
      margin-top: 11px;
    }
  }
  .BoxscoreItemScore {
    h4 {
      margin-top: 11px;
    }
  }
}

.BoxscoreItemInfo {
  justify-content: space-evenly;
}
.BoxscoreItemInfomoreInfo {
  margin: 0 auto;
}
#todayDate {
  margin-left: 2%;
  margin-right: 2%;
}
#dayBefore {
  cursor: pointer;
}
#dayAfter {
  cursor: pointer;
}
#boxscoreLoading {
  position: absolute;
  top: 0;
  left: 0;
}
