@import "./../../colorSheets";
.navBar {
  direction: rtl;
  display: flex;
  flex-direction: row;
  background-color: $mainBlue;
  div#menuBarsContainer {
    padding: 1%;
    #menuBars {
      cursor: pointer;
      color: #ffffff;
    }
  }
  div#menuItemContainer{
    width: 50%;
    ul{
      li{
        display: inline-block;
        margin-right: 7%;
        color:#ffffff;
        cursor: pointer;
      }
    }
  }
}
