@import "./../../colorSheets";
.navBar {
  direction: rtl;
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: $mainBlue;
  div#menuBarsContainer {
    padding: 20px;
    #menuBars {
      cursor: pointer;
      color: #ffffff;
    }
  }
  div#menuItemContainer{
    width: 100%;
    ul{
      margin-top: 24px;
      padding: 0;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      li{
        display: inline-block;
        color:#ffffff;
        cursor: pointer;
      }
    }
  }
}
