@import './../../colorSheets.scss';
#footerContainer{
    text-align: center;
    margin-top: 20px;
    background-color: $darkestBlue;
    color: #ffffff;
    :first-child{
        margin-top: 0;
        direction: rtl;
    }
    :last-child{
        margin-bottom: 0;
    }
}