@font-face {
  font-family: "Iran Sans";
  src: url('./../assets/Fonts/IRANSansWeb(FaNum).ttf')

}
@font-face {
  font-family: "Flama";
  src: url('./../assets/Fonts/Flama Regular.otf')

}
body {
  margin: 0;
  background-color: #e5e7e9;
  font-family: "Iran Sans";
}
