#mainMvpPowerRankingContainer {
  direction: ltr;
  background-color: #fff;
  margin-top: 2%;
  border: 1px solid;
  width: 100%;
  border-radius: 10px;
  #mainMvpPowerRanking {
    display: flex;
    flex-direction: row;
    .mainMvpLPoweradder {
      direction: ltr;
      width: 50%;
      border-right: 1px solid;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style: none;
          padding-top: 1%;
          div {
            text-align: center;
            p {
              margin: 0;
            }
            span {
              font-size: 13px;
            }
          }
        }
        li:nth-child(even){
            background-color: #e5e7e9;
        }
      }
    }
    
  }
  #mainMvpPowerRankingTitle {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid;
    div {
      width: 48%;
      margin-left: 2%;
      text-align: center;
      h4 {
        margin-bottom: 2%;
        margin-top: 2%;
      }
    }
  }
}
