@import '../../colorSheets.scss';
#canvasMenu{
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 30vw;
    right: -30vw;
    top: 0;
    background-color: $darkBlue;
    transition: right 0.8s;
    overflow-y: auto;
}
#menuCross{
    color: #ffffff;
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
}
.menuCrossContainer{
    height: 42px;
}
@media screen and (max-width: 1024px) {
    #canvasMenu{
        z-index: 100;
        position: fixed;
        height: 100vh;
        width: 80vw;
        right: -80vw;
        top: 0;
        background-color: $darkBlue;
        transition: right 0.8s;
        overflow-y: auto;
    }
}